.input-field {
  border-color: #2374ee;
}

.title {
  color: #000000;
  font-size: 20;
  text-align: center;
  align-self: center;
  border-bottom-width: 1;
  border-color: #2374ee;
}

.form-label {
  margin-top: 15;
  color: #2374ee;
}

.container-white {
  margin: auto 30 auto 30;
  overflow: hidden;
  padding: 16;
  background-color: white;
}

.btn-primary {
  margin: 50 0 30 0;
  background-color: #2374ee;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18;
  height: 45;
  border-radius: 30;
  width: 100%;
}