<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <ns-section-header title="{{ 'blogItem.title' | L }}"></ns-section-header>
</ActionBar>

<GridLayout class="page" tkExampleTitle tkToggleNavButton>
    @if (basicFlightInformations.length != 0) {
        <RadListView [items]="basicFlightInformations">
            <ng-template tkListItemTemplate let-item="item">
                <StackLayout class="card">
                    <StackLayout class="info-container">
                        <Label
                            [text]="
                                start +
                                item.data_itineraries_segments_departure_at
                            "
                            class="info-label"
                        ></Label>
                        <Label
                            [text]="
                                arrive +
                                item.data_itineraries_segments_arrival_at
                            "
                            class="info-label"
                        ></Label>
                        <Label
                            [text]="
                                startIataCode +
                                item.data_itineraries_segments_departure_iataCode
                            "
                            class="info-label"
                        ></Label>
                        <Label
                            [text]="
                                arriveIataCode +
                                item.data_itineraries_segments_arrival_iataCode
                            "
                            class="info-label"
                        ></Label>
                        <Label
                            [text]="
                                priceTotal +
                                item.data_itineraries_price_total +
                                ' USD'
                            "
                            class="info-label"
                        ></Label>
                        <Label
                            [text]="duration + item.data_itineraries_duration"
                            class="info-label"
                        ></Label>
                    </StackLayout>
                    <GridLayout columns="auto, auto" class="button-container">
                        <Button
                            text="{{ 'blogItem.buy' | L }}"
                            col="0"
                            (tap)="Buy(item.data_id)"
                            class="action-button"
                        ></Button>
                        <Button
                            text="{{ 'blogItem.delete' | L }}"
                            col="1"
                            (tap)="Delete(item.data_id)"
                            class="action-button right"
                        ></Button>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </RadListView>
    }
    <Label
        text="{{ 'blogItem.cartIsEmpty' | L }}"
        class="empty-cart-message"
        textWrap="true"
    >
    </Label>
</GridLayout>
