.container {
    margin: 0 20 10 20;
    border-radius: 30;
    padding: 16;
    background-color: white;
    box-shadow: 3 2 rgba(0, 0, 0, 0.16);
    align-items: center;
}

.f-16 {
    font-size: 16;
}

.m-b-2 {
    margin-bottom: 2;
}

.text-type {
    color: rgba(0, 0, 0, 0.5);
}