.action-bar {
  background-color: #bbd5f4;
  margin: 20px 0 0 20px;
  padding: 0;
  height: 100px;
}

.action-bar-title {
  color: black;
}

.btn-back-rotate-black {
  width: 20;
  height: 20;
  rotate: 180;
}

.flight-search-form {
  margin: 30px 30px 100px 30px;
  border-radius: 70px;
  height: 400;
  padding: 16;
  background-color: white;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
  align-items: center;
}

.form-label {
  margin-top: 25;
}
.input-field{
  margin-top: 40;
}


.input-error {
  border-color: red;
  border-width: 1;
  border-radius: 4;
}

