<StackLayout class="page">
  <GridLayout columns="auto, *" class="action-bar">
    <Label text="Indulási hely kiválasztása" colspan="2" class="action-bar-title"></Label>
    <Image src="~/assets/icons/right-arrow.png" (tap)="onCancel()" class="fas btn-back-rotate-black"></Image>
  </GridLayout>

  <!--      <GridLayout [formGroup]="passengerForm" class="flight-search-form" columns="*,5px,*"
        rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,*">

     <Label col="0" colSpan="3" row="0" text="1. Utas" class="form-label"></Label>
        <TextField col="0" colspan="3" row="1" class="input-field" formControlName="firtsPassenger" editable="false"
          (tap)="setPassengerInfo()" hint="adatai megadása" [ngClass]="{ 'input-error': isInvalid('firtsPassenger') }">
        </TextField>


      </GridLayout>-->
  <GridLayout [formGroup]="passengerForm" columns="auto" rows="auto,auto,auto,auto" [rows]="passengers.length * 2"
    class="flight-search-form">
    <ng-container *ngFor="let name of passengers; let i = index">
      <Label [text]="(i + 1) + '. Utas'" col="0" [row]="i" class="form-label"></Label>

      <TextField col="0" [row]="(i + 1)" [formControlName]="name" class="input-field"
        hint="adatai megadása" [editable]="false" (tap)="setPassengerInfo(i)"
        [ngClass]="{ 'input-error': isInvalid(name) }">
      </TextField>
    </ng-container>
  </GridLayout>

  <!--   <StackLayout col="0" colSpan="3" row="6" orientation="horizontal" (tap)="submit()">
        <Image src="~/assets/icons/google.png" class="btn-google-img" />
        <Label text="Bejelentkezés a Googleval" class="btn-google-label"></Label>
      </StackLayout> -->
</StackLayout>