.action-bar {
    background-color: #bbd5f4;
    padding: 0;
}

.action-bar-title {
    color: black;
}

.btn-back-rotate-black {
    width: 20;
    height: 20;
    rotate: 180;
}

.passenger-info-form {
  margin: 70 10 30 10;
  border-radius: 70px;
  padding: 16;
  background-color: white;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
  align-items: center;
}

.btn-submit-grid {
  margin-top: 30;
  margin-bottom: 10;
  background-color: #2374ee;
  color: white;
  border-radius: 20;
  height: 45;
}

.right-arrow-icon {
  width: 25;
  height: 25;
  margin-left: 10;
}

.btn-submit-label {
  margin: 10 0 10 60;
  font-size: 20;
}

.input-error {
  border-color: red;
  border-width: 1;
  border-radius: 4;
}