<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Profile edit" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>
<GridLayout class="page" columns="*,*,*" rows="*,*,*,*,*,*,*,*,*">
  <Image class="nt-drawer__header-image fas t-36" col="0" row="0" src="font://&#xf2bd;"></Image>
  <Label class="details-label" *ngIf="!isFullNameEdit" col="0" colspan="2" row="1" [text]='"Teljes név: "+fullName'></Label>
  <TextField class="details-label" *ngIf="isFullNameEdit" col="0" row="1" [(ngModel)]="lastName"></TextField>
  <TextField class="details-label" *ngIf="isFullNameEdit" col="1" row="1" [(ngModel)]="firstName"></TextField>
  <Button col="2" row="1" text="m" (tap)="editField(0)" class="actionButton"></Button>

  @if(isEmailEdit){
      <Label col="0" row="2" text="Email cím: "></Label>
  <TextField class="details-label" col="1" row="2" [(ngModel)]="newEmail"></TextField>
  }@else{
      <Label class="details-label" colspan="2" row="2" [text]="'Email cím: ' + user.email"></Label>
  }
  <Button col="2" row="2" text="m" (tap)="editField(1)" class="actionButton"></Button>

  @if(isBornEdit){
  <Label col="0" row="3" text="Születési dátum: "></Label>
  <DatePickerField  hint="born" minDate="1920-01-08"  col="1" row="3" (dateChange)="onDateChange($event)"  pickerDefaultDate="2019/05/15">
    ></DatePickerField>
  }@else {
  <Label class="details-label" colspan="2" row="3" [text]="'születési dátum : ' + born"></Label>
  }
  <Button col="2" row="3" text="m" (tap)="editField(2)" class="actionButton"></Button>


  <Label *ngIf="!isPasswordEdit" class="details-label" col="0" row="4" text="jelszó"></Label>
  <Label *ngIf="!isPasswordEdit" class="details-label" col="1" row="4" text="*********"></Label>
  <Label *ngIf="isPasswordEdit" class="details-label" col="0" row="5" text="jelenlegi jelszó"></Label>
  <TextField *ngIf="isPasswordEdit" class="input" col="1" colspan="2" row="5" hint="old Password" [(ngModel)]="currentPassword" autocorrect="false"
  autocapitalizationType="none" secure="true"></TextField>
  <Label *ngIf="isPasswordEdit" class="details-label" col="0" row="6" text="új jelszó"></Label>
  <TextField *ngIf="isPasswordEdit" col="1" colspan="2" row="6" class="input" hint="old Password" [(ngModel)]="newPassword" autocorrect="false"
  autocapitalizationType="none" secure="true"></TextField>
  <Label *ngIf="isPasswordEdit" class="details-label" col="0" row="7" text="jelszó mégegyszer"></Label>
<TextField *ngIf="isPasswordEdit" col="1" colspan="2" row="7" class="input" hint="Confirm Password" [(ngModel)]="newPasswordAgain" autocorrect="false"
  autocapitalizationType="none" secure="true"></TextField>
  <Button  col="2" row="4" text="m" (tap)="editField(3)" class="actionButton"></Button>

  <Button class="details-label" (tap)="ModifyCheck()" col="0" row="8" text="Mentés" class="actionButton"></Button>
  <Button class="details-label" (tap)="Back()" col="2" row="8" text="Vissza" class="actionButton"></Button>
  </GridLayout>