<ActionBar class="action-bar">
    <!--  <NavigationButton visibility="hidden"></NavigationButton>-->
    <ns-section-header title="{{ 'userList.title' | L }}"></ns-section-header>
</ActionBar>
<StackLayout class="page">
    <ns-search
        [items]="users()"
        [filterKeys]="['uid']"
        (filteredItemsChange)="onFilteredUsers($event)"
    ></ns-search>
    <ScrollView class="scroll-height">
        <StackLayout>
            @if (loaded) {
                @for (user of filteredUsers(); track user.uid) {
                    <ns-user-list-row
                        [user]="user"
                        [userDetails]="getCurrentUserDetail(user.uid)"
                    ></ns-user-list-row>
                }
            } @else {
                <ActivityIndicator busy="true" />
            }
        </StackLayout>
    </ScrollView>
</StackLayout>
