.ticket-row {
    height: 60;
    background-color: white;
    border-radius: 30;
    margin-left: 10;
    margin-right: 10;
}

.right-arrow-bg {
    height: 100%;
    border-top-right-radius: 30;
    border-bottom-right-radius: 30;
    background-color: #2374ee;
    vertical-align: center;
    horizontalAlignment: "center";
}

.right-arrow {
    width: 23;
    height: 23;
}