<StackLayout>
  @if(!authService.currentUser){
  <GridLayout columns="auto, *" class="drawer-title">
    <Label col="0" colSpan="2" text="Navigációs Menü" horizontalAlignment="center"></Label>
  </GridLayout>
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/login')"
    (tap)="onNavItemTap('/login')">
    <Image col="0" src="res://enter" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.login' | L}}" class="p-r-10"></Label>
  </GridLayout>
  }
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/flightSearch')"
    (tap)="onNavItemTap('/flightSearch')">
    <Image col="0" src="res://loupe" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.searchFlight' | L}}" class="p-r-10"></Label>
  </GridLayout>
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/blogList')"
    (tap)="onNavItemTap('/blogList')">
    <Image col="0" src="res://blog" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.blog' | L}}" class="p-r-10"></Label>
  </GridLayout>
  @if(authService.currentUser){
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/profile')"
    (tap)="onNavItemTap('/profile')">
    <Image col="0" src="res://user" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.profile' | L}}" class="p-r-10"></Label>
  </GridLayout>
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/aichat')"
    (tap)="onNavItemTap('/aichat')">
    <Image col="0" src="res://chat" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.aiChat' | L}}" class="p-r-10"></Label>
  </GridLayout>

  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/basket')"
    (tap)="onNavItemTap('/basket')">
    <Image col="0" src="res://cart" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.cart' | L}}" class="p-r-10"></Label>
  </GridLayout>

  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/flightTicketList')"
    (tap)="onNavItemTap('/flightTicketList')">
    <Image col="0" src="res://ticket_flight" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.myTickets' | L}}" class="p-r-10"></Label>
  </GridLayout>
  }

  <StackLayout class="hr"></StackLayout>
  <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/settings')"
    (tap)="onNavItemTap('/settings')">
    <Image col="0" src="res://settings" width="12" height="12" class="icon-distance"></Image>
    <Label col="1" text="{{'menus.settings' | L}}" class="p-r-10"></Label>
  </GridLayout>
</StackLayout>