<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" [text]="isLoggingIn ? 'Bejelentkezés' : 'Regisztráció'" colSpan="2"></Label>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout>
  <Frame>
    <Page actionBarHidden="true" class="page">
      <GridLayout [formGroup]="loginFormGroup" class="login-form" columns="*,5px,*"
        rows="auto,auto,auto,auto,auto,auto,auto,auto,auto">

        <Label col="0" colSpan="3" row="0" text="E-mail" class="form-first-label"></Label>
        <TextField col="0" colspan="3" row="1" class="input-field" formControlName="email" editable="true"
          hint="E-mail cím">
        </TextField>

        <Label col="0" colSpan="3" row="2" text="Jelszó" class="form-label"></Label>
        <TextField col="0" secure="true" colspan="3" row="3" class="input-field" formControlName="password" editable="true"
          hint="Jelszó">
        </TextField>

        <GridLayout col="0" colSpan="3" row="4" columns="auto, *" (tap)="onLogin()" class="btn-submit-grid">
          <Image col="0" src="~/assets/icons/enter.png" class="enter-icon"></Image>
          <Label col="1" text="Bejelentkezés" class="btn-submit-label"></Label>
        </GridLayout>

        <GridLayout col="0" colSpan="3" row="5" columns="*,auto,*" class="or-separate-grid" rows="auto">
          <StackLayout col="0" class="or-separte-line"></StackLayout>
          <Label text="Vagy" col="1" class="or-separte-text"></Label>
          <StackLayout col="2" class="or-separte-line"></StackLayout>
        </GridLayout>

        <StackLayout col="0" colSpan="3" row="6" orientation="horizontal" (tap)="loginWithGoogle()">
          <Image src="~/assets/icons/google.png" class="btn-google-img" />
          <Label text="Bejelentkezés a Googleval" class="btn-google-label"></Label>
        </StackLayout>

        <Label col="0" colSpan="3" row="7" textWrap="true" class="forgot-your-password"
          text="Elfelejtetted a jelszavad?"></Label>

        <StackLayout col="0" colSpan="3" row="8" orientation="horizontal" (tap)="register()">
          <Label class="no-account" text="Nincs még fiókod?"></Label>
          <Label text="Regisztráció" class="btn-register-label"></Label>
        </StackLayout>
      </GridLayout>
    </Page>
  </Frame>
</GridLayout>