.header-footer-bg {
    background-color: #5a9eff;
}

.header-h-10 {
    height: 12%;
}

.header-middle-stack {
    height: 100%;
    margin: 2 0 2 0;
    padding: 0;
}

.footer-h-8 {
    height: 8%;
    vertical-align: center;
}

.t-center {
    text-align: center;
}

.ticket-icon {
    width: 10%;
    height: 100%;
    margin-left: 5;
    margin-right: 5;
}

.rotate-180 {
    rotate: 180;
}

.rotate-315 {
    rotate: 315;
}

.plane-icon {
    height: 70%;
    padding: 0;
}

.header-title {
    font-size: 20%;
    padding: 0;
    text-align: center;
    color: white;
}

.ticket-container {
    height: 80%;
    vertical-align: center;
    horizontalalignment: 'center';
}

.f-26 {
    font-size: 26;
}

.f-24 {
    font-size: 24;
}

.f-20 {
    font-size: 20;
}

.t-right {
    text-align: right;
}

.passenger-name-bg {
    background-color: rgb(90, 158, 255, 0.5);
    padding: 15;
    margin: 6;
    border-radius: 30;
}

.barcode {
    margin-top: 10;
    width: 80%;
}
