.register-search-form {
    margin: 70px 30px 70px 30px;
    border-radius: 70px;
    padding: 16;
    background-color: white;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
    align-items: center;
}

.form-first-label {
    margin-top: 10px;
}

.form-label {
    margin-top: 20px;
}

.btn-submit-grid {
    margin-top: 60px;
    background-color: #2374ee;
    color: white;
    border-radius: 20;
    height: 110px;
}

.enter-icon {
    width: 30;
    height: 30;
    margin-left: 20px;
}

.btn-submit-label {
    margin: 20px 0px 20px 120px;
    font-size: 20px;
}

.or-separate-grid {
    height: 100px;
    margin: 20px 0 10px 0;
}

.or-separte-line {
    height: 10px;
    background-color: black;
    vertical-align: center;
    margin-right: 8;
    margin-left: 8;
}

.or-separte-text {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 10;
}

.btn-google-label {
    font-size: 19px;
    margin-left: 0;
    text-align: center;
    align-items: center;
    font-weight: bold;
    vertical-align: middle;
}

.btn-google-img {
    width: 22;
    height: 22;
    margin-right: 5;
    margin-left: 40;
}