.register-form {
    margin: 25 10 25 10;
    border-radius: 30;
    padding: 16;
    background-color: white;
    box-shadow: 4 1 rgba(0, 0, 0, 0.16);
    align-items: center;
}

.form-first-label {
    margin-top: 6;
}

.form-label {
    margin-top: 10;
}

.btn-submit-grid {
    margin-top: 20;
    background-color: #2374ee;
    color: white;
    border-radius: 20;
    height: 45;
}

.enter-icon {
    width: 30;
    height: 30;
    margin-left: 10;
}

.btn-submit-label {
    margin: 10 0 10 52;
    font-size: 22;
}

.or-separate-grid {
    height: 35;
    margin: 7 0 7 0;
}

.or-separte-line {
    height: 5;
    background-color: black;
    vertical-align: center;
    margin-right: 8;
    margin-left: 8;
}

.or-separte-text {
    font-size: 22;
    color: black;
    text-align: center;
    margin-bottom: 10;
}

.btn-google-label {
    font-size: 23;
    margin-left: 0;
    text-align: center;
    align-items: center;
    font-weight: bold;
    vertical-align: middle;
}

.btn-google-img {
    width: 22;
    height: 22;
    margin-right: 5;
    margin-left: 20;
}