
.input-bar {
  background-color: rgb(205, 232, 243);
  align-items: center;
  padding: 5;
}
.send-btn {
  background-color: #2374ee;
  color: white;
  border-radius: 20;
  font-size: 20;
}
.input {
  background-color: #f0f8ff; 
  font-size: 10;
  border: 1px solid #5a9eff;
  border-radius: 8px;
}
.time{
  font-size: 8;
  text-align: right;
  vertical-align: bottom;
}
.message {
  border-radius: 10;
  width: 250;
}
.message.me {
  background-color: rgb(112, 136, 182);
}
.message.other {
  background-color: #4098d3ab;
}
