.action-bar {
    background-color: #bbd5f4;
    margin: 20px 0 0 20px;
    padding: 0;
    height: 100px;
}

.or-separate-grid {
    height: 100px;
    margin: 30px 0 30px 0;
}

.promo-subhead {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 40px 0;
}

.or-separte-line {
    height: 10px;
    background-color: black;
    vertical-align: center;
    margin-right: 8;
    margin-left: 8;
}

.or-separte-text {
    font-size: 24px;
    color: black;
    text-align: center;
    margin-bottom: 10;
}

.plane-logo {
    width: 50;
    height: 50;
}

.promo-title-container {
    margin-top: 30px;
    padding-top: 15;
    padding-bottom: 15;
}

.promo-title {
    font-size: 27px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.btn-transparent-google {
    height: 110px;
    border-radius: 30;
    border-width: 2px;
    border-color: black;
    margin-left: 40px;
    margin-right: 40px;
    background-color: transparent;
}

.btn-transparent-img{
    width: 22;
    height: 22;
    margin-left: 30px;
}

.btn-transparent-label{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 130px;
}

.btn-google-label {
    font-size: 23px;
    margin-left: 0;
    text-align: center;
    align-items: center;
    font-weight: bold;
    vertical-align:middle;
}

.btn-google-img {
    width: 22;
    height: 22;
    margin-right: 5;
    margin-left: 30;
}

.btn-create-account {
    background-color: #5a9eff;
    color: white;
    font-size: 23px;
    border-radius: 25;
    height: 110px;
    margin-left: 40px;
    margin-right: 40px;
}

.btn-transparent-login {
    height: 110px;
    border-radius: 30;
    border-width: 2px;
    border-color: #5a9eff;
    margin-left: 40px;
    margin-right: 40px;
    background-color: transparent;
}

.btn-login-label {
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.btn-try-app {
    width: 100%;
}

.btn-transparent-try-app {
    height: 110px;
    border-radius: 30;
    border-width: 2px;
    border-color: #5a9eff;
    margin-left: 40px;
    margin-right: 40px;
    background-color: transparent;
}

.btn-try-app-label {
    font-size: 23px;
    margin-left: 0;
    text-align: center;
    align-items: center;
    width: 100%;
}
