<StackLayout class="main-container page">
  <GridLayout columns="auto, *" class="action-bar">
    <Image src="~/assets/icons/airplane-mode.png" class="plane-logo"></Image>
  </GridLayout>
  <StackLayout class="promo-title-container">
    <Label textWrap="true" class="promo-title" text="Tapasztald meg a teljes kényelmet"></Label>
    <Label textWrap="true" class="promo-subhead" text="Csatlakozz még ma."></Label>
  </StackLayout>

  <StackLayout orientation="horizontal" class="btn-transparent-google" (tap)="loginWithGoogle()">
    <Image src="~/assets/icons/google.png" class="btn-google-img" />
    <Label text="Regisztráció a Googleval" class="btn-google-label"></Label>
  </StackLayout>

  <GridLayout columns="*,auto,*" class="or-separate-grid" rows="auto">
    <StackLayout col="0" class="or-separte-line"></StackLayout>
    <Label text="Vagy" col="1" class="or-separte-text"></Label>
    <StackLayout col="2" class="or-separte-line"></StackLayout>
  </GridLayout>

  <Button text="Fiók létrehozása" (tap)="register()" class="btn-create-account"></Button>

  <Label textWrap="true" class="promo-subhead" text="Már van felhasználói fiókod?"></Label>

  <StackLayout orientation="horizontal" class="btn-transparent-login" (tap)="login()">
    <Image src="~/assets/icons/enter.png" class="btn-transparent-img" />
    <Label text="Bejelentkezés" class="btn-transparent-label"></Label>
  </StackLayout>

  <Label textWrap="true" class="promo-subhead" text="Böngéssz simán."></Label>

  <StackLayout orientation="horizontal" class="btn-transparent-try-app" (tap)="tryApp()">
    <Label text="Kipróbálom az oldalt" class="btn-try-app-label" verticalAlignment="stretch"
      horizontalAlignment="left"></Label>
  </StackLayout>
</StackLayout>