.bg-test {
    background-color: #bbd5f4;
}

.card {
    margin: 0 20 10 20;
    border-radius: 25;
    background-color: white;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.t-date {
    padding: 5;
    font-size: 14;
    font-weight: bold;
}

.t-duration {
    padding: 5;
    font-size: 14;
    color: rgba(0, 0, 0, 0.5);
}

.t-transfer {
    font-size: 14;
    color: red;
    text-align: center;
}

.black-line {
    height: 1;
    background-color: black;
}

.blue-line {
    height: 2;
    background-color: blue;
}

.long-black-line {
    height: 3;
    background-color: black;
}

.flight-price {
    font-size: 23;
}

.full-price {
    font-size: 12;
}

.btn-submit {
    background-color: #2374ee;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    width: 80;
    text-align: center;
    border-radius: 15;
    height: 40;
    padding: 3;
}

.search-activity {
    margin-left: 35;
}