.action-bar {
    background-color: #bbd5f4;
    margin: 20px 0 0 20px;
    padding: 0;
    height: 100px;
}

.action-bar-title {
    color: black;
}

.btn-back-rotate-black {
    width: 20;
    height: 20;
    rotate: 180;
}

.scroll-height {
    height: 90%;
}

.empty-flight-message {
    display: flex;
    align-items: center;
    text-align: center;
    line-break: auto;
    font-size: 30px;
    font-weight: bold;
}