<ActionBar flat="true" class="action-bar">
    <GridLayout columns="auto, *">
        <Label
            [text]="searchService.getToPlace()"
            colspan="2"
            class="action-bar-title"
        ></Label>
        <Image
            src="~/assets/icons/right-arrow.png"
            (tap)="onCancel()"
            class="fas btn-back-rotate-black"
        ></Image>
    </GridLayout>
</ActionBar>
<StackLayout class="page">
    <ScrollView class="scroll-height">
        <StackLayout>
            @if (flightsData() && flightsData().length === 0) {
                <Label
                    text="{{ 'flightList.noDataMessage' | L }}"
                    class="empty-flight-message"
                    textWrap="true"
                ></Label>
            } @else {
                @for (flight of flightsData(); track flight.id) {
                    <ns-flight-list-row
                        [flight]="flight"
                        [dictionary]="searchService.getDictionary()"
                    ></ns-flight-list-row>
                }
            }
        </StackLayout>
    </ScrollView>
</StackLayout>
