<StackLayout class="page">
  <GridLayout columns="auto, *" class="action-bar">
    <Label [text]="mainArrivalCity" colspan="2" class="action-bar-title"></Label>
    <Image src="~/assets/icons/right-arrow.png" (tap)="onCancel()" class="fas btn-back-rotate-black"></Image>
  </GridLayout>

  <ScrollView class="scroll-height">
    <StackLayout>
      @if(this.flightOffers?.length){
      @for(flight of flightOffers; track flight.id){
      <ns-flight-list-row [flight]="flight" [dictionary]="dictionary"></ns-flight-list-row>
      }
      }
      @else {
      <Label text="Nincs a keresési feltételeknek megfelelő adat." class="empty-flight-message" textWrap="true"></Label>
      }
    </StackLayout>
  </ScrollView>
</StackLayout>