.promo-title-container {
  padding: 15;
}

.promo-title {
  font-size: 25px;
  color: #222;
  text-align: center;
}

.flight-search-form {
  margin: 30px 30px 100px 30px;
  border-radius: 70px;
  padding: 16;
  background-color: white;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
  align-items: center;
}

.input-flight-type-grid {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.256);
  width: 100%;
  height: 90px;
}

.form-label {
  margin-top: 30px;
}

.icon-flight-type {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.date-icon {
  margin-right: 10;
  margin-left: 5;
}

.input-to-all-text-field {
  margin-left: 1;
  padding: 5;
  placeholder-color: rgba(0, 0, 0, 0.296);
  border-width: 0;
  font-size: 16;
  height: 90px;
}

.select-passegers-field {
  border-width: 0;
  padding-right: 10px;
  width: 100%;
  padding-left: 100px;
  margin-top: 1;
  font-size: 16;
}

.btn-submit-label {
  width: 100%;
  margin: 20px;
  margin-top: 7;
  padding-left: 50px;
  font-size: 15px;
}

.search-icon {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.btn-submit-grid {
  background-color: #2374ee;
  color: white;
  font-size: 15px;
}

.search-label {
  background-color: rgba(0, 0, 0, 0.077);
}

.passengers-field-grid {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.256);
}