.bg-profile {
    margin: 25 10 0 10;
    border-radius: 30;
    height: 60;
    background-color: white;
    box-shadow: 4 1 rgba(0, 0, 0, 0.16);
    align-content: flex-start;
}

Image {
    border-radius: 100%;
    height: 50;
    width: 50;
    margin: 0 10 0 10;
    background-color: rgba(0, 0, 0, 0.1);
}
