<StackLayout class="container-white" [formGroup]="form">
    <Label text="Email" class="form-label"></Label>
    <TextField
        col="0"
        colspan="3"
        row="3"
        class="input-field"
        editable="true"
        hint="Email"
        (textChange)="onEmailChange()"
        formControlName="email"
    >
    </TextField>
    @if (isTappedAndWrong()) {
        <Label
            col="0"
            colSpan="3"
            row="4"
            text="{{ 'login.wrongEmailOrPw' | L }}"
            class="text-danger"
        ></Label>
    }
    <Button
        colspan="4"
        row="6"
        text="{{ 'general.submit' | L }}"
        class="btn-primary"
        (tap)="submit()"
    ></Button>
</StackLayout>
