.action-bar {
  background-color: #bbd5f4;
  margin: 20px 0 0 20px;
  padding: 0;
  height: 100px;
}

.action-bar-title {
  color: black;
}

.btn-back-rotate-black {
  width: 20;
  height: 20;
  rotate: 180;
}

.passenger-info-form {
  margin: 10 10 0 10;
  border-radius: 70px;
  padding: 16;
  background-color: white;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.16);
  align-items: center;
}



.icon-baggage-type {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.triptype-textfield {
  margin-left: 1;
  padding: 5;
  placeholder-color: rgba(0, 0, 0, 0.296);
  border-width: 0;
  font-size: 16;
  height: 90px;
}

.f-16 {
  font-size: 16;
  margin: 0;
}

.btn-submit-grid {
  margin-top: 30;
  margin-bottom: 10;
  background-color: #2374ee;
  color: white;
  border-radius: 20;
  height: 45;
}

.right-arrow-icon {
  width: 25;
  height: 25;
  margin-left: 10;
}

.btn-submit-label {
  margin: 10 0 10 70;
  font-size: 20;
}
.scrollView-height{
  height: 90%;
}