<StackLayout class="page">
    <GridLayout columns="auto, *" class="action-bar">
        <Label
            text="{{ 'setPassenger.title' | L }}"
            colspan="2"
            class="action-bar-title"
        ></Label>
        <Image
            src="~/assets/icons/right-arrow.png"
            (tap)="onCancel()"
            class="fas btn-back-rotate-black"
        ></Image>
    </GridLayout>
    <ScrollView class="scrollView-height">
        <StackLayout>
            <GridLayout
                [formGroup]="passengerForm"
                columns="*,5px,*"
                rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto"
                class="passenger-info-form"
            >
                <Label
                    col="0"
                    colSpan="3"
                    row="0"
                    [text]="formTitle"
                    class="text-center f-16"
                ></Label>

                <Label
                    col="0"
                    row="1"
                    text="{{ 'register.lastName' | L }}"
                    class="form-label"
                ></Label>
                <TextField
                    col="0"
                    row="2"
                    class="input-field"
                    formControlName="lastName"
                    editable="true"
                    hint="{{ 'register.lastName' | L }}"
                    [ngClass]="{ 'input-error': isInvalid('lastName') }"
                >
                </TextField>

                <Label
                    col="2"
                    row="1"
                    text="{{ 'register.firstName' | L }}"
                    class="form-label"
                ></Label>
                <TextField
                    col="2"
                    row="2"
                    class="input-field"
                    formControlName="firstName"
                    editable="true"
                    hint="{{ 'register.firstName' | L }}"
                    [ngClass]="{ 'input-error': isInvalid('firstName') }"
                >
                </TextField>

                <Label
                    col="0"
                    row="3"
                    text="{{ 'register.bornDate' | L }}"
                    class="form-label"
                ></Label>
                <DatePickerField
                    class="input-field"
                    col="0"
                    row="4"
                    formControlName="bornDate"
                    hint="1999. jan. 4."
                    [ngClass]="{ 'input-error': isInvalid('bornDate') }"
                >
                </DatePickerField>

                <Label
                    col="2"
                    row="3"
                    text="{{ 'register.sex' | L }}"
                    class="form-label"
                ></Label>
                <TextField
                    class="input-field"
                    hint="{{ 'register.sexHint' | L }}"
                    col="2"
                    row="4"
                    [text]="passengerForm.get('sex').value"
                    formControlName="sex"
                    editable="false"
                    (tap)="openSexPicker()"
                    [ngClass]="{ 'input-error': isInvalid('sex') }"
                >
                </TextField>

                <Label
                    col="0"
                    colSpan="3"
                    row="5"
                    text="{{ 'setPassenger.selectLuggage' | L }}"
                    class="form-label"
                ></Label>
                <GridLayout
                    col="0"
                    colspan="3"
                    row="6"
                    columns="*, auto"
                    class="set-passenger-component-input-baggage-type-grid"
                    [ngClass]="{ 'input-error': isInvalid('baggageType') }"
                >
                    <Image
                        col="1"
                        src="~/assets/icons/down-arrow.png"
                        class="icon-baggage-type"
                        (tap)="openBaggagePicker()"
                    >
                    </Image>
                    <TextField
                        col="0"
                        class="triptype-textfield"
                        formControlName="baggageType"
                        editable="false"
                        hint="{{ 'setPassenger.handBag' | L }}"
                        (tap)="openBaggagePicker()"
                    ></TextField>
                </GridLayout>
                <StackLayout #selectSeat col="0" colSpan="3" row="7">
                </StackLayout>
                <GridLayout
                    col="0"
                    colSpan="3"
                    row="11"
                    columns="auto, *"
                    (tap)="submit()"
                    class="btn-submit-grid"
                >
                    <Image
                        col="0"
                        src="~/assets/icons/right-arrow.png"
                        class="right-arrow-icon"
                    ></Image>
                    <Label
                        col="1"
                        text="{{ 'general.save' | L }}"
                        class="btn-submit-label"
                    ></Label>
                </GridLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
